<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Style.css" />
    <link rel="stylesheet" href="/CSS/stylesheet_fonts.css" />
  </head>
  <body>
    <button class="bg-button">Get Vaccine</button>

    <button class="border-button">Help Centre</button>
<button class="no-bg-button">Check Status</button>
    <div class="read-more-button">
      <a class="read-more-blue read-more-text" href="">Read More </a
      ><svg
        width="31"
        height="31"
        viewBox="0 0 31 31"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.92114 15.1455H24.3848"
          stroke="#17C2EC"
          stroke-width="1.99584"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M15.653 6.41382L24.3848 15.1456L15.653 23.8774"
          stroke="#17C2EC"
          stroke-width="2.99376"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <div class="read-more-button" > <a class="read-more-silver read-more-text " href="">Read More </a
        >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.16675 10H15.8334" stroke="white" stroke-opacity="0.5" stroke-width="1.99584" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 4.16675L15.8333 10.0001L10 15.8334" stroke="white" stroke-opacity="0.5" stroke-width="2.99376" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
    </div>

  </body>
</html>
