<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sec1Hero</title>
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/stylesheet_fonts.css">
</head>
<body>
<section class="sec1">
 <div class="hero grid  grid-cols2 ">  
   <div class="text-hero p-wight">
    <p class="top-p p-blue">Get Vaccinated. Boost your Immune System</p>
    <h2 class="title-hero p-blue">COVID-19 Vaccination
        Got Easier With,
        <span class="p-blue ">Vaccination.ng</span></h2>
        <p class="bottom-p p-wight-80">Vaccination.ng will help you find the
            nearest centre for vaccination, in all 
           36 states in Nigeria.</p>
           <body>
            <button class="bg-button">Get Vaccine</button>
        
            <button class="border-button">Help Centre</button>
            </div>
            <img class="img-hero" src="/images/Group 22.png" alt="">
</div>
<div class="oclok flex p-wight">
    <svg
  width="50"
  height="50"
  viewBox="0 0 50 50"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect width="49.9615" height="50" rx="10" fill="#C4C4C4" fill-opacity="0.1" />
  <path
    d="M24.9807 37.5C31.879 37.5 37.4711 31.9036 37.4711 25C37.4711 18.0964 31.879 12.5 24.9807 12.5C18.0825 12.5 12.4904 18.0964 12.4904 25C12.4904 31.9036 18.0825 37.5 24.9807 37.5Z"
    stroke="#17C2EC"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M24.9807 17.5V25L29.9769 27.5"
    stroke="#17C2EC"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
<p>Schedule your Vaccination</p>
</div>
<div class="card-botton-hero grid grid-4×1 grid-2×2 ">
<div class="flex hero-text-footer"><svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.969238" width="49.9615" height="50" rx="10" fill="#C4C4C4" fill-opacity="0.1"/>
    <path d="M37.1913 22.5C37.1913 31.25 25.95 38.75 25.95 38.75C25.95 38.75 14.7086 31.25 14.7086 22.5C14.7086 19.5163 15.893 16.6548 18.0011 14.545C20.1093 12.4353 22.9686 11.25 25.95 11.25C28.9314 11.25 31.7906 12.4353 33.8988 14.545C36.007 16.6548 37.1913 19.5163 37.1913 22.5Z" stroke="#17C2EC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M25.95 26.25C28.0195 26.25 29.6971 24.5711 29.6971 22.5C29.6971 20.4289 28.0195 18.75 25.95 18.75C23.8805 18.75 22.2029 20.4289 22.2029 22.5C22.2029 24.5711 23.8805 26.25 25.95 26.25Z" stroke="#17C2EC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <div class="text-bhs">
        <p class="one">Location</p>
        <p class="tow">Ikeja Lagos, Nigeria</p>
    </div>
</div>
<div class="flex">
    <svg
    width="51"
    height="50"
    viewBox="0 0 51 50"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="0.68689"
      width="49.9615"
      height="50"
      rx="10"
      fill="#C4C4C4"
      fill-opacity="0.1"
    />
    <path
      d="M34.4109 15H16.9243C15.5447 15 14.4263 16.1193 14.4263 17.5V35C14.4263 36.3807 15.5447 37.5 16.9243 37.5H34.4109C35.7905 37.5 36.909 36.3807 36.909 35V17.5C36.909 16.1193 35.7905 15 34.4109 15Z"
      stroke="#17C2EC"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M30.6638 12.5V17.5"
      stroke="#17C2EC"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M20.6715 12.5V17.5"
      stroke="#17C2EC"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M14.4263 22.5H36.909"
      stroke="#17C2EC"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
    <div class="text-bhs">
     
        <p class="one">Date</p>
      
        <p class="tow">29 February, 2022</p>
    </div>
</div>
<div class="flex"><svg
    width="50"
    height="50"
    viewBox="0 0 50 50"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect width="49.9615" height="50" rx="10" fill="#C4C4C4" fill-opacity="0.1" />
    <path
      d="M24.9807 37.5C24.9807 37.5 34.973 32.5 34.973 25V16.25L24.9807 12.5L14.9884 16.25V25C14.9884 32.5 24.9807 37.5 24.9807 37.5Z"
      stroke="#17C2EC"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
    <div class="text-bhs">
        <p class="one">Vaccine Type</p>
        <p class="tow">Mordena</p>
    </div>
</div>
<button class="bg-button">Submit</button>

</div>
<img class="logo-bottm " src="/images/Vaccine types.png" alt="">
</section>
</body>
</html>