<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/normalize.css" />
   <link rel="stylesheet" href="/CSS/stylesheet_fonts.css" />
   <link rel="stylesheet" href="/CSS/Style.css" />
    <title>Document</title>   
</head>
<body style="background-color: rgb(0, 0, 100);">
    <div class ="card-check">
        <p class="top-card-check">Check your COVID-19 result on our Database</p>
        <div class="input-card-check">
          <input class="input-border" placeholder="Okeowo" type="text" />
          <input class="input-border" placeholder="NIK Number" type="number" />
          <button class="border-button button-check">check</button>
        </div>
        <p class="bottom-card-check">
          Need a certificate for your COVID-19 result? Please click here
        </p>
      </div>
</body>
</html>