<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/normalize.css" />
    <link rel="stylesheet" href="/CSS/stylesheet_fonts.css" />
    <link rel="stylesheet" href="/CSS/Style.css" />
    <title>sec3-readMore</title>
  </head>
  <body style="background-color: rgb(0, 0, 100)">
 
    <section class="sec3-cards-readMore">
      <div class="text-readMore grid grid-cols2">
        <h1>Why get vaccinated
          today?</h1>
        <p>Magna adipiscing at elit at ornare lectus nibh lorem. 
          Ac, sed ac lorem pellentesque vestibulum risus matti. 
          In molestie condimentum malesuada non.</p>
      </div>
<div class="cards-readMore grid grid-cols2">
    <div class="card-protect">
        <svg
          width="58"
          height="58"
          viewBox="0 0 58 58"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_d_34_653)">
            <rect
              x="4"
              width="50"
              height="50"
              rx="10"
              fill="#C4C4C4"
              fill-opacity="0.1"
            />
            <g clip-path="url(#clip0_34_653)">
              <path
                d="M29.9687 37.4687C29.9687 37.4687 39.9687 32.4687 39.9687 24.9687V16.2187L29.9687 12.4688L19.9688 16.2187V24.9687C19.9688 32.4687 29.9687 37.4687 29.9687 37.4687Z"
                stroke="#17C2EC"
                stroke-width="3.99168"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </g>
          <defs>
            <filter
              id="filter0_d_34_653"
              x="0.00831604"
              y="0"
              width="57.9834"
              height="57.9834"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="3.99168" />
              <feGaussianBlur stdDeviation="1.99584" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_34_653"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_34_653"
                result="shape"
              />
            </filter>
            <clipPath id="clip0_34_653">
              <rect
                width="30"
                height="30"
                fill="white"
                transform="translate(14.9688 9.96875)"
              />
            </clipPath>
          </defs>
        </svg>
        <p class="p-blue">Protects your immune system against viruses</p>
        <p class="p-wight">
          Velit ut consectetur mauris, orci amet, faucibus. Sit turpis fringilla
          ipsum pretium, dictum. Dolor eget vel nulla lorem ac.
        </p>
        <div class="read-more-button">
          <a class="read-more-blue read-more-text" href="">Read More </a>
          <svg
            width="32"
            height="31"
            viewBox="0 0 31 31"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.92114 15.1455H24.3848"
              stroke="#17C2EC"
              stroke-width="1.99584"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.653 6.41382L24.3848 15.1456L15.653 23.8774"
              stroke="#17C2EC"
              stroke-width="2.99376"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="cards-per-tem grid-cols2-md grid ">
        <div class="card-person card-p-t">
          <svg
            width="76"
            height="77"
            viewBox="0 0 76 77"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_34_98)">
              <rect
                x="2.91687"
                y="0.916748"
                width="69.8545"
                height="69.8545"
                rx="20.9563"
                fill="#C4C4C4"
                fill-opacity="0.1"
              />
              <g clip-path="url(#clip0_34_98)">
                <g clip-path="url(#clip1_34_98)">
                  <path
                    d="M48.5303 53.6818V49.607C48.5303 47.4455 47.6716 45.3726 46.1433 43.8443C44.6149 42.3159 42.542 41.4573 40.3806 41.4573H24.0812C21.9198 41.4573 19.8469 42.3159 18.3185 43.8443C16.7901 45.3726 15.9315 47.4455 15.9315 49.607V53.6818"
                    stroke="white"
                    stroke-width="2.99376"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M32.2309 33.3077C36.7318 33.3077 40.3806 29.6589 40.3806 25.158C40.3806 20.657 36.7318 17.0083 32.2309 17.0083C27.7299 17.0083 24.0812 20.657 24.0812 25.158C24.0812 29.6589 27.7299 33.3077 32.2309 33.3077Z"
                    stroke="white"
                    stroke-width="2.99376"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M60.7547 53.6818V49.607C60.7534 47.8013 60.1524 46.0472 59.0461 44.62C57.9398 43.1929 56.3908 42.1736 54.6425 41.7222"
                    stroke="white"
                    stroke-width="2.99376"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M46.4928 17.2729C48.2458 17.7218 49.7996 18.7413 50.9092 20.1708C52.0188 21.6003 52.621 23.3584 52.621 25.168C52.621 26.9775 52.0188 28.7356 50.9092 30.1651C49.7996 31.5946 48.2458 32.6141 46.4928 33.063"
                    stroke="white"
                    stroke-width="2.99376"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
              </g>
            </g>
            <defs>
              <filter
                id="filter0_d_34_98"
                x="0.122691"
                y="0.916748"
                width="75.4428"
                height="75.4428"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="2.79418" />
                <feGaussianBlur stdDeviation="1.39709" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_34_98"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_34_98"
                  result="shape"
                />
              </filter>
              <clipPath id="clip0_34_98">
                <rect
                  width="48.8981"
                  height="48.8981"
                  fill="white"
                  transform="translate(13.395 11.395)"
                />
              </clipPath>
              <clipPath id="clip1_34_98">
                <rect
                  width="48.8981"
                  height="48.8981"
                  fill="white"
                  transform="translate(13.894 10.896)"
                />
              </clipPath>
            </defs>
          </svg>
          <p>Minimize the spread of the Virus</p>

          <div class="read-more-button">
            <a class="read-more-silver read-more-text" href="">Read More </a>
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.16675 10H15.8334"
                stroke="white"
                stroke-opacity="0.5"
                stroke-width="1.99584"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10 4.16675L15.8333 10.0001L10 15.8334"
                stroke="white"
                stroke-opacity="0.5"
                stroke-width="2.99376"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="temperature card-p-t">
            <svg width="76" height="81" viewBox="0 0 76 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_34_114)">
                <rect x="2.91687" y="0.402344" width="69.8545" height="74.2044" rx="20.9563" fill="#C4C4C4" fill-opacity="0.1"/>
                <g clip-path="url(#clip0_34_114)">
                <path d="M42.418 42.9482V18.5782C42.418 17.1432 41.8813 15.767 40.9261 14.7522C39.9709 13.7375 38.6753 13.1675 37.3244 13.1675C35.9735 13.1675 34.6779 13.7375 33.7227 14.7522C32.7675 15.767 32.2309 17.1432 32.2309 18.5782V42.9482C30.5954 44.109 29.3547 45.7977 28.692 47.765C28.0293 49.7323 27.9798 51.8738 28.5508 53.8733C29.1217 55.8728 30.2829 57.6242 31.8628 58.8689C33.4426 60.1136 35.3574 60.7855 37.3244 60.7855C39.2914 60.7855 41.2062 60.1136 42.786 58.8689C44.3659 57.6242 45.5271 55.8728 46.098 53.8733C46.669 51.8738 46.6195 49.7323 45.9568 47.765C45.2941 45.7977 44.0534 44.109 42.418 42.9482Z" stroke="white" stroke-width="2.99376" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                </g>
                <defs>
                <filter id="filter0_d_34_114" x="0.122691" y="0.402344" width="75.4428" height="79.7927" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="2.79418"/>
                <feGaussianBlur stdDeviation="1.39709"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_34_114"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_34_114" result="shape"/>
                </filter>
                <clipPath id="clip0_34_114">
                <rect width="48.8981" height="51.9431" fill="white" transform="translate(13.894 11.0032)"/>
                </clipPath>
                </defs>
                </svg>
                
          <p>Protect yourself</p>

          <div class="read-more-button">
            <a class="read-more-silver read-more-text" href="">Read More </a>
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.16675 10H15.8334"
                stroke="white"
                stroke-opacity="0.5"
                stroke-width="1.99584"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10 4.16675L15.8333 10.0001L10 15.8334"
                stroke="white"
                stroke-opacity="0.5"
                stroke-width="2.99376"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
</div>
    </section>
  </body>
</html>
