<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/normalize.css" />
    <link rel="stylesheet" href="/CSS/stylesheet_fonts.css" />
    <link rel="stylesheet" href="/CSS/Style.css" />
  </head>
  <body>
    <section class="sec4-number">
      <h2>Get your vaccine registration today</h2>
<div class="container-sec4 flex">
    <img class="img-sec4-coved" src="/images/Group 45.png" alt="" />
    <div class="input-sec4-numder grid gris-3×4">
      <div class="Full-name  grid-cols-1-4">
        <h3>Patient’s Full Name</h3>
        <input class="input-Full-name" placeholder="Full name" type="text" />
      </div>
      <div class="Full-number-text grid-cols-1-4">
        <h3>Mobile Number</h3>
        <p>
          Notifications for appointment and reminders will be sent to this
          provided number
        </p>
      </div>
      <div class="enter-num grid-cols-1-4 grid-cols-1-3 ">
        <div class="dropdown">
          <button class="dropdown-button">
            <img src="https://flagcdn.com/w40/ng.png" alt="Nigeria Flag" />
            <!-- صورة علم البلد -->
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 9L12 15L18 9"
                stroke="black"
                stroke-opacity="0.25"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <div class="dropdown-content">
            <div
              class="dropdown-item"
              onclick="selectCountry('Nigeria', 'ng')"
            >
              dfgsdfgfdg
              <img src="https://flagcdn.com/w40/ng.png" alt="Nigeria Flag" />
              Nigeria
            </div>
            <div
              class="dropdown-item"
              onclick="selectCountry('United States', 'us')"
            >
              dsfsdf
              <img src="https://flagcdn.com/w40/us.png" alt="USA Flag" />
              United States
            </div>
            <!-- أضف المزيد من الدول حسب الحاجة -->
          </div>
        </div>
        <input class="input-num" placeholder="Phone number" type="number" />
      </div>
      <button class="bg-button">Verify</button>
      <button class="bg-button width100 grid-cols-1-4">Submit</button>
    </div>
</div>
    </section>
  </body>
</html>
