<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sec5-Covid-19</title>
    <link rel="stylesheet" href="/CSS/normalize.css" />
    <link rel="stylesheet" href="/CSS/Style.css" />
    <link rel="stylesheet" href="/CSS/stylesheet_fonts.css" />
  </head>
  <body>
    <section class="sec5-Covid-19">
      <p class="p-wight">Covid-19 Prevention</p>
      <h2 class="p-wight"><span class="p-blue">COVID-19</span> Symptoms</h2>
      <p class="p-wight-80">
        Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis aenean
        eu velit. Mi vestibulum, ullamcorper venenatis imperdiet augue arcu
        donec neque.
      </p>
      <img src="/images/Group 65.png" alt="" />
    </section>
  </body>
</html>
