<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/stylesheet_fonts.css">
</head>
<body>
  <section class="sec6-person">
    <h3 class="top-text p-blue">FEEDBACK</h3>
    <h2>What our Patients Think</h2>
    <p class="">Adipiscing nec etiam tortor elit quisque. 
        Arcu aliquet convallis aenean eu velit.
        Mi vestibulum, ullamcorper venenatis imperdiet augue arcu ue.</p>
        <div class="contaner-card-person flex">
            <div class="card-person ">
                <div class="top flex">
                    <img src="/images/personal3_FeedBack.png" alt="">
                    <div class="person-top-text">
                        <p class="name-person">Oyindamola Maja</p>
                        <p class="Lagos">Badagry, Lagos</p>
                    </div>
                </div>
                <p class="about-person">“Been stressing about a close centre
                    to get the covid-19 vaccine, until
                    i tried Vaccination.ng”</p>
            </div>  
              <div class="card-person bg-blue">
                <div class="top flex">
                    <img src="/images/personal2_FeedBack.png" alt="">
                    <div class="person-top-text">
                        <p class="name-person">Oyindamola Maja</p>
                        <p class="Lagos">Badagry, Lagos</p>
                    </div>
                </div>
                <p class="about-person">“Been stressing about a close centre
                    to get the covid-19 vaccine, until
                    i tried Vaccination.ng”</p>
            </div>
            <div class="card-person">
                <div class="top flex">
                    <img src="/images/personal1_FeedBack.png" alt="">
                    <div class="person-top-text">
                        <p class="name-person">Oyindamola Maja</p>
                        <p class="Lagos">Badagry, Lagos</p>
                    </div>
                </div>
                <p class="about-person">“Been stressing about a close centre
                    to get the covid-19 vaccine, until
                    i tried Vaccination.ng”</p>
            </div>  
        </div>
    </section>
</body>
</html>